
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HELP</h1>

<input style="display:none" id="startdate" value=@ViewBag.StartDate />
<input style="display:none" id="enddate" value=@ViewBag.EndDate />
<input style="display:none" id="page" value=@ViewBag.page />
<input style="display:none" id="searchpic" value=@ViewBag.searchpic />
<input style="display:none" id="searchstatus" value=@ViewBag.searchstatus />
<input style="display:none" id="searchproject" value=@ViewBag.searchproject />